"*":
  "animated-page-scroll":
    scrollDuration: 1
    scrollRows: 20
  "atom-fuzzy-grep":
    showFullPath: true
  "autocomplete-plus": {}
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    telemetryConsent: "no"
  editor:
    preferredLineLength: 79
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "69353531-716e-4c84-ad9a-3f6fa28d88c6"
  "fuzzy-finder": {}
  "keyboard-scroll":
    animate: false
    animationDuration: 350
    linesToScrollKeydown: 5
    linesToScrollSingle: 5
    throttle: 10
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
    redrawDelay: 100
  "tree-view": {}
  welcome:
    showOnStartup: false
".json.source":
  editor:
    autoIndentOnPaste: true
    showIndentGuide: true
".python.regexp.source":
  editor:
    tabLength: 2
".python.source":
  editor:
    showIndentGuide: true
    tabLength: 2
